<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<%- include('partials/tempNav.ejs') %>

<div class="background-box">
    <h1>
        ALT LOGIN PAGE
    </h1>
    <br>
    <form method="post" action="/empty-room">
        <br>
        <input type="text" id="userId" name="userId">
        <br>
        <button type="submit">CREATE/JOIN ROOM</button>
    </form>
</div>