<%- include('partials/header.ejs', {title: `What Can We Play Today?`, stylesheet: `altLogin.css`}) %>
<%- include('partials/navbarBack.ejs', {linkToPage: `/`}) %>

<div class="gradient-background">
    <div class="background-box">
        <h1 style="text-decoration: underline;">
            ALTERNATE LOGIN
        </h1>
        <br>
        <p id="altPageHelp"> Enter your Steam User ID or ID Code Here </p>
        <!-- TODO: Have a guide on how to find it. -->
        <p id="altPageGuide"> <a href=""> Click Here </a> for a guide on how to find it. </p>
        <!-- TODO: Have some disclaimer and a link to other pages on relevant information -->
        <br>
        <form method="post" action="/alt-login">
            <br>
            <!-- If the user has previously entered a Steam ID and is redirected back, this logic will pre-enter it & the below -->
            <% if (typeof steamID != "undefined") { %>
            <input type="text" id="userId" name="userId" value="<%= steamID %>">
            <% } %>
            <br>
            <button id="altUserLogin" type="submit"> ALT LOGIN </button>
        </form>
    </div>
    <script>
        // TODO: this can be further expanded upon by adding status code data to the query string and having more routes. 
        // Simple jSuite Toast to notify user their ID is invalid in some way
        function userAccountError() {
            jSuites.notification({
                name: 'Error - Invalid ID',
                error: 1,
                message: `Cannot find your Steam Account via that ID, please try again.`,
                timeout: 4000,
            });
        }
        // Goes through the URL and looks for the ?id= field, show the error 
        // popup if present as it is only present when the user has failed the 
        // try/catch when logging in via ID.
        const searchParams = new URLSearchParams(window.location.search);
        if (searchParams.has('id')) {
            userAccountError();
        }
    </script>
</div>