<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %>
<%- include('partials/tempNav.ejs') %>

<div class="background-box">
    <h1>HOME PAGE</h1>
    <br>
    <a href="/privacy-policy">PRIVACY POLICY LINK</a>
</div>

<div id="main-page-buttons">
    <a href="/steam-login">
        <button>STEAM LOGIN</button>
    </a>
    <p style="color: white; font-size: larger; margin-top: 1rem;"> OR </p>
    <a href="/alt-login">
        <button>ALT LOGIN</button>
    </a>
</div>