<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<%- include('partials/tempNav.ejs') %>

<h1>
   CREATE/JOIN ROOM PAGE
</h1>

<a href="/empty-room">
    <button> TEMP JOIN ROOM </button>
</a>