<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<%- include('partials/tempNav.ejs') %>

<h1>
    STEAM LOGIN PAGE
</h1>

<a href="/auth/steam">
    <button> Log In </button>
</a>

<a href="/room-choice">
    <button>CREATE/JOIN ROOM</button>
</a>