@import "generalStyles.css";

.background-box-pp {
    margin-top: 6vh;
    max-width: 70vw;
    /* Increase the maximum width */
    display: inline-flex;
    flex-direction: column;
    background-color: var(--boxBackground);
    text-align: left;
    padding: 5vh;
    /* Reduce the padding */
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Ensure our List items are legible w/ our color choices */
ul {
    color: white;
}

/* For Mobile Scaling */
@media all and (max-width: 500px) {

    /* Make sure our background box scales to the whole width. Then remove the bottom Box shadow so it all appears to be one page. */
    .background-box {
        max-width: 100vw;
        box-shadow: none;
    }

    /* Ensure we follow the intended mobile design w/ a singular page color. */
    body {
        background-color: var(--boxBackground);
    }

    /* Also disable our gradient so we follow oru design intent. */
    .gradient-background {
        background-image: none;
    }

    /* Remove margin so buttons are nearer to the rest of the page content. */
    #main-page-buttons {
        margin-top: 0;
    }

    /* Specifically for Privacy Policy to clean up shadows & text scaling */
    .background-box-pp {
        padding: 0;
        box-shadow: none;
    }
}