body {
    background-color: #17293E;
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

button {
    font-family: 'Kanit', sans-serif;
    background-color: #6F9F31;
    color: white;
    padding: 1vh 2vw;
    font-size: large;
    border: none;
}

.background-box {
    margin-top: 10vh;
    display: inline-flex;
    flex-direction: column;   
    background-color: #171A21;
    text-align: center;
    padding: 20vh;
}

#logo {
    max-height: 8vh;
    margin-top: 1.5vh;
}

nav {
    background-color: #0B0E13;
    text-align: center;
}